# Lab1: Intro to IPython Nootebooks

## Author: Morgan Gladden

### Example 1

In [1]:
x = [1, 2, 3]
y = [4, 5, 6]
z_list = list(zip(x,y))
z_list

[(1, 4), (2, 5), (3, 6)]

In [2]:
x2, y2 = zip(*z_list)
list(x2)

[1, 2, 3]

In [3]:
list(y2)

[4, 5, 6]

### Example 2

In [4]:
# List of squares using a for loop
squares = []
for x in range(10):
    squares.append(x ** 2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Example 3

In [5]:
# List of squares using a list comprehension
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Example 4

In [6]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Example 5

In [7]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Example 6

In [8]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x * 2 for x in vec]

[-8, -4, 0, 4, 8]

In [9]:
# filter the list to exclude negative numbers
[x for x in vec if x>= 0]

[0, 2, 4]

In [10]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

### Example 7

In [11]:
# call a method on each element
freshfruit = ['    banana', '   pear  ', 'passion fruit   ']
[fruit.strip() for fruit in freshfruit]

['banana', 'pear', 'passion fruit']

### Example 8

In [12]:
# create a list of 2-tuple like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Example 9

In [13]:
# flatten a nested list using a list comprehension
# with two 'for' loops
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Example 10

In [14]:
# Version of Pi starting from 1-5 decimal places
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### Example 11-14

In [15]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

[[row[i] for row in matrix ] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [16]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [17]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [18]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### Example 15

In [19]:
prod = ['apples', 'oranges', 'squash']
price = [1.25, 0.99, 0.89]
fruit_cost = {key:val for (key, val) in zip(prod, price)}
fruit_cost

{'apples': 1.25, 'oranges': 0.99, 'squash': 0.89}

### Example 16

In [20]:
cubes = dict()
for x in range(5):
    cubes[x] = x ** 3
cubes

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [21]:
{x: x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

### Example 17

In [22]:
{i:j for i in range(5, 10) for j in range(i)}

{5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

### Example 18

In [23]:
{x: x**2 for x in range(10) if x % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### Example 19

In [24]:
squares = {n**2 for n in range(10)}
squares

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

### Example 20

In [25]:
squares = set (n**2 for n in range(10))
squares

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

### Example 21

In [26]:
# Build and return a list
def first_n(n):
    num = 0
    nums = []
    while num < n:
        nums.append(num)
        num += 1
    return nums

sum_of_first_n = sum(first_n(1000000))
sum_of_first_n

499999500000

### Example 22

In [27]:
# Build an iterator object
class first_n(object):
    def __init__(self, n):
        self.n = n
        self.num = 0
        self.nums = []
        
    def __iter__(self):
        return self
    
    def __next__(self):
        return self.next()
    
    def next(self):
        if self.num < self.n:
            cur = self.num
            self.num = self.num+1
            return cur
        else:
            raise StopIteration()
            
sum_of_first_n = sum(first_n(1000000))
sum_of_first_n

499999500000

### Example 23

In [28]:
def first_n(n):
    num = 0
    while num < n:
        yield num
        num += 1
        
sum_of_first_n =  sum(first_n(1000000))
sum_of_first_n

499999500000

### Example 24

In [29]:
# The generator fibonacci function
# The generator constructs an iterator
def fibonacci(limit):
    a = 0
    b = 1
    s = a + b
    for n in range(limit):
        yield a
        a = b
        b = s
        s = a + b
    
for number in fibonacci(100):
    print(number)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

### Example 25

In [30]:
# list comprehension
[2 * n for n in range(15)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [31]:
# same as the list comprehension above
list(2 * n for n in range(15))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

### Example 26

In [32]:
# regular function
def double(x):
    return x * 2

print(double(10))

20

In [33]:
# lambeda function
double = lambda x: x * 2
print(double(10))

20

### Example 27

In [34]:
# lambda function returned by a function
def increment_by_n(n):
    return lambda x: x + n
inc = increment_by_n(3)
inc(1)

4

### Example 28

In [35]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three')]
# sort the inner lists on their second element,
# the one with index 1.
pairs.sort(key=lambda pair:pair[1])
pairs

[(1, 'one'), (3, 'three'), (2, 'two')]

### Example 29

In [36]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three')]
# sort the inner lists on their second element,
# the one with index 1.
# The reverse keyword argument specifies the sort order
# specifying reverse=True, says to sort in descending order
print(sorted(pairs, key=lambda p:p[1], reverse=True))

[(2, 'two'), (3, 'three'), (1, 'one')]

In [37]:
# Without using lambda, this would be
def sort2(elem):
    return (elem[1])

print(sorted(pairs, key=sort2, reverse=True))

[(2, 'two'), (3, 'three'), (1, 'one')]